In [1]:
import mics_library
import os
import pandas as pd
from IPython.display import display, Markdown
from mics_library.preview import screen
from mics_library.preview import check_values
from mics_library.swap_indicators import swap_indicators
from mics_library.loaders import import_dataset
from mics_library.recode import create_recoding_dict
from mics_library.loaders import merge_questionnaires

In [2]:
ROOTDIR = 'C:/Users/dario/OneDrive/Desktop/GITLAB/lifesatisfaction_s/data'

In [3]:
mics_library.set_rootdir(ROOTDIR)
rounds = os.listdir(mics_library.get_rootdir())
print(rounds)

['.ipynb_checkpoints', 'check', 'MICS6', 'out', 'recode_dir', 'screen']

In [4]:
ROUND = 6
TARGET_QUESTIONNAIRES = ['wm']

In [5]:
dataframes = screen(ROUND, questionnaires=TARGET_QUESTIONNAIRES, ignorecase=True)

for quest in TARGET_QUESTIONNAIRES:
    display(Markdown('---'))
    display(Markdown(f'### {quest}'))
    display(dataframes[quest])

wm - Congo_MICS6
here

---

### wm

                                           label  ncountries
HH1                             Numéro de grappe           1
HH2                             Numéro du ménage           1
LN                            Numéro de la ligne           1
WM1                             Numero de grappe           1
WM2                             Numéro de ménage           1
...                                          ...         ...
WSCORER                       Rural wealth score           1
WINDEX5R   Quintile du bien être en milieu rural           1
WINDEX10R               Percentile Group of rur1           1
PSU             Unité d'échantillonnage primaire           1
STRATUM                                  Stratum           1

[424 rows x 2 columns]

In [6]:
SCREENDIR = 'C:/Users/dario/OneDrive/Desktop/GITLAB/lifesatisfaction_s/data/screen'

for quest in TARGET_QUESTIONNAIRES:
    dataframes[quest].to_csv(os.path.join(SCREENDIR, f'{quest}.csv'))

In [7]:
select_indicators = {'wm': ['WB6A',
                            'WB16',
                            'MT9',
                            'MT11',
                            'CM3',
                            'CM8',
                            'CP2',
                            'UN7',
                            'UN14N',
                            'VT9',
                            'MA1',
                            'AF10',
                            'AF11',
                            'SB2U',
                            'TA16',
                            'LS2']
                    }
print(select_indicators)

{'wm': ['WB6A', 'WB16', 'MT9', 'MT11', 'CM3', 'CM8', 'CP2', 'UN7', 'UN14N', 'VT9', 'MA1', 'AF10', 'AF11', 'SB2U', 'TA16', 'LS2']}

In [8]:
dataframes = check_values(micsround=ROUND, indicators=select_indicators, swap_indicators={}, ignorecase=True)

for quest in dataframes.keys():
    display(Markdown('---'))
    display(Markdown(f'## {quest}'))
    dataframes_quest = dataframes[quest]
    
    for ind in dataframes_quest.keys():
        display(Markdown(f'### {ind}'))
        display(dataframes_quest[ind])

---

## wm

### WB6A

,label,used_indicator,0.0,10.0,20.0,31.0,32.0,33.0,34.0,40.0,98.0,99.0
Congo_MICS6,Le plus haut niveau d'école fréquenté,WB6A,PREPRIMAIRE,PRIMAIRE,SECONDAIRE 1,SECONDAIRE 2 GENER,SECONDAIRE 2 TECHN,SECONDAIRE 2 PROFES,SECONDAIRE 2 ART&M,SUPERIEUR,NSP,NON REPONSE

### WB16

,label,used_indicator,1.0,2.0,3.0,6.0,9.0
Congo_MICS6,Lieu de vie avant de déménager é l'endroit actuel,WB16,VILLE,BOURGADE,MILIEU RURAL,AUTRE,NON REPONSE

### MT9

,label,used_indicator,1.0,2.0,9.0
Congo_MICS6,A-t-elle déjé utilisé Internet,MT9,OUI,NON,NON REPONSE

### MT11

,label,used_indicator,1.0,2.0,9.0
Congo_MICS6,A-t-elle un téléphone portable,MT11,OUI,NON,NON REPONSE

### CM3

                                  label used_indicator
Congo_MICS6  Des fils  vivant avec vous            CM3

### CM8

,label,used_indicator,1.0,2.0
Congo_MICS6,A-t-elle déjé eu un enfant né vivant et qui es...,CM8,OUI,NON

### CP2

,label,used_indicator,1.0,2.0,9.0
Congo_MICS6,Utilisation actuelle des méthodes par le coupl...,CP2,OUI,NON,NON REPONSE

### UN7

,label,used_indicator,1.0,2.0,3.0,8.0,9.0
Congo_MICS6,Désir d'avoir un autre enfant dans l'avenir,UN7,AVOIR UN (AUTRE) ENFANT,PAS D?(AUTRE) ENFANT,DIT QU?ELLE NE PEUT PAS TOMBER ENCEINTE,PAS DECIDEE / NSP,NON REPONSE

### UN14N

,label,used_indicator,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,25.0,26.0,27.0,28.0,29.0,30.0,93.0,94.0,95.0,99.0
Congo_MICS6,Début des derniéres régles- Nombre,UN14N,0,1,2,3,4,5,6,7,...,25,26,27,28,29,30,MENONPAUSEE / A EU UNE HYSTERECTOMIE,AVANT LA DERNIERE NAISSANCE,N?A JAMAIS EU DE REGLES,NON REPONSE

### VT9

,label,used_indicator,1.0,2.0,8.0,9.0
Congo_MICS6,Personnellement agressée ou menacée par quelqu...,VT9,OUI,NON,NSP,NON REPONSE

### MA1

,label,used_indicator,1.0,2.0,3.0,9.0
Congo_MICS6,Actuellement marié ou vivant avec un homme,MA1,"OUI, MARIEE ACTUELLEMENT","OUI, VIT ACTUELLEMENT AVEC UN PARTENAIRE","NON, PAS EN UNION",NON REPONSE

### AF10

,label,used_indicator,1.0,2.0,3.0,4.0,9.0
Congo_MICS6,Difficulté é se souvenir ou é se concentrer,AF10,PAS DE DIFFICULTE,QUELQUES DIFFICULTES,BEAUCOUP DE DIFFICULTES,NE PEUT PAS DU TOUT SE SOUVENIR OU SE CONCENTRER,NON REPONSE

### AF11

,label,used_indicator,1.0,2.0,3.0,4.0,9.0
Congo_MICS6,"Difficulté é prendre soins soi-méme, comme se ...",AF11,PAS DE DIFFICULTE,QUELQUES DIFFICULTES,BEAUCOUP DE DIFFICULTES,NE PEUT PAS DU TOUT PRENDRE SOIN D?ELLE-MEME,NON REPONSE

### SB2U

,label,used_indicator,1.0,2.0,3.0,4.0,9.0
Congo_MICS6,Temps depuis les derniers rapports sexuels - U...,SB2U,NOMBRE DE JOURS,NOMBRE DE SEMAINES,NOMBRE DE MOIS,NOMBRE D?ANNEES,NON REPONSE

### TA16

,label,used_indicator,0.0,10.0,30.0,99.0
Congo_MICS6,Nombre de jours oé au moins une boisson alcool...,TA16,N?A PAS BU D?ALCOOL DANS LE DERNIER MOIS,10 JOURS OU PLUS MAIS MOINS D?UN MOIS,CHAQUE JOUR / PRESQUE TOUS LES JOURS,NON REPONSE

### LS2

,label,used_indicator,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,99.0
Congo_MICS6,Satisfaction é la marche de l'échelle,LS2,0,1,2,3,4,5,6,7,8,9,10,NON REPONSE

In [9]:
CHECKDIR = 'C:/Users/dario/OneDrive/Desktop/GITLAB/lifesatisfaction_s/data/check'

for quest in dataframes.keys():
    dataframes_quest = dataframes[quest]
    os.makedirs(os.path.join(CHECKDIR, quest), exist_ok=True)
    
    for ind in dataframes_quest.keys():
        dataframes_quest[ind].to_csv(os.path.join(CHECKDIR, quest, f'{ind}.csv'))

In [10]:
#per visualizzare tramite pd i file csv relativi ai singoli indicatori (esempio con WB5).
WB4_data = pd.read_csv(os.path.join(CHECKDIR, 'wm', 'WB4.csv'), index_col=0)
display(WB4_data)
WB6A_data = pd.read_csv(os.path.join(CHECKDIR, 'wm', 'WB6A.csv'), index_col=0)
display(WB6A_data)

                       label used_indicator
Congo_MICS6  Age de la femme            WB4

,label,used_indicator,0.0,10.0,20.0,31.0,32.0,33.0,34.0,40.0,98.0,99.0
Congo_MICS6,Le plus haut niveau d'école fréquenté,WB6A,PREPRIMAIRE,PRIMAIRE,SECONDAIRE 1,SECONDAIRE 2 GENER,SECONDAIRE 2 TECHN,SECONDAIRE 2 PROFES,SECONDAIRE 2 ART&M,SUPERIEUR,NSP,NON REPONSE

l'idea della mics_library come proposta da tutorial è di definire qui un dizionario da utilizare per risolvere le incongruenze relative all'uso di nomi diversi in paesi diversi per gli stessi indicatori.

L'idea qui è di agire sui dati manualmente e risolvere le incongruenze che riteniamo presenti. Ancora una volta l'idea è creare un dizionario con chiave il "nome corrente che vogliamo cambiare dell'indicatore" e con valore "il valore che vogliamo assegnare al posto di quello esistente".

{'wm': 
    {'Congo_MICS6': {'"Déjé fréquenté l'école"' : '"Have you ever attended school or any early childhood education programme"', 
                 ...}        
     ...}
 }

In [11]:
RECODE_DIR = 'C:/Users/dario/OneDrive/Desktop/GITLAB/lifesatisfaction_s/data/recode_dir'
recoding_dictionary = create_recoding_dict(RECODE_DIR)
#display(recoding_dictionary)

In [12]:
dataset = import_dataset(ROUND, select_indicators, swap_indicators={},recoding_dictionary=recoding_dictionary, ignorecase=True)   
data, keys = merge_questionnaires(dataset)


OUT_DIR = 'C:/Users/dario/OneDrive/Desktop/GITLAB/lifesatisfaction_s/data/out'
data.to_csv(os.path.join(OUT_DIR, 'data.csv'))
keys.to_csv(os.path.join(OUT_DIR, 'keys.csv'))

La parte prima sul dizionario è da rivedere. Ora l'idea è di andare ad aprire i file csv dei singoli indicatori e andare a modificarli manualmente (sia se vogliamo il nome, che in questo caso è un po' in francese e un po' incomprensibile, sia la struttura dei punteggi dell'item).

Ora l'idea è di creare un classificatore che utilizzi come input i vari item predittori indipendenti e come output abbia LS. In questo caso predirrà LS come 1 se è sompra una certa soglia oppure come 0 se sarà sotto una certa soglia.
Partiamo da un classificatore poichè è l'approccio più semplice al ML. Poi faremo una regressione per avere LS su più livelli di predizione.
Ci baseremo sul codice pipeline proposto da Andrea in uno dei suoi tutorial.